COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 0 VCCIO 1.5 V;
BANK 1 VCCIO 2.5 V;
BANK 2 VCCIO 2.5 V;
BANK 3 VCCIO 2.5 V;
BANK 6 VCCIO 2.5 V;
BANK 7 VCCIO 1.5 V;
##########################################################################
# Frequency Declerations
##########################################################################
##########################################################################
# Block, Maxdelay, Multicycle preferences
##########################################################################
##########################################################################
# IO Type Declarations
##########################################################################
##########################################################################
## LOCATE FOR CSM logic
##########################################################################
LOCATE COMP "clk" SITE "P3" ;// on-board oscillator
IOBUF PORT "clk" IO_TYPE=LVDS ;
FREQUENCY NET "clk" 100.000000 MHz ;

LOCATE COMP "rst" SITE "T1" ;
IOBUF PORT "rst" PULLMODE=UP IO_TYPE=LVCMOS25 ;

# LED bank
LOCATE COMP "led_a" SITE "E16" ;
LOCATE COMP "led_b" SITE "D18" ;
LOCATE COMP "led_c" SITE "F16" ;
IOBUF PORT "led_a" IO_TYPE=LVCMOS15 ;
IOBUF PORT "led_b" IO_TYPE=LVCMOS15 ;
IOBUF PORT "led_c" IO_TYPE=LVCMOS15 ;
##################################################################
LOCATE COMP "uart0_rxd" SITE "C11" ;
LOCATE COMP "uart0_txd" SITE "A11" ;
IOBUF PORT "uart0_txd" IO_TYPE=LVCMOS25;
IOBUF PORT "uart0_rxd" IO_TYPE=LVCMOS25;

# User code for ZPUng TAP:
USERCODE HEX "CAFE1020" ; 
